.home_add {
    height: 450px;
    display: flex;
    justify-content: center;
    border: 1px rgb(230, 230, 230) solid;
}

.slideshow {
    max-width: 60%;
    min-width: 270px;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.slideshow img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s;
}

.slideshow img.active {
    opacity: 1;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #bbb;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background-color: #555;
}

@media (max-width:768px) {
    .home_add {
        height: 350px;
    }
}

@media (max-width:430px) {
    .slideshow {
        max-width: 100%;
    }
}